
  <div class="container container-fluid">
    <h2>Overzicht</h2>

    <button type="button" class="btn btn-success btn-number" >
      <span class="glyphicon glyphicon-plus"> Bericht</span>
    </button>

 

    <hr>
    <div class="form-group form-inline">
      <input class="form-control max-width" type="text" placeholder="Zoek gebuikers.." />
    </div>
    <hr>
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
        <th class="col-4" scope="col">Gerbruikersnaam </th>
        <th class="col-4" scope="col">Verstuur datum</th>
        <th class="col-4" scope="col">Platform</th>
        </thead>
        <tbody>

          <tr class="row-12" *ngFor="let value of DataFromServer">

            <td>{{value.username}}</td>
            <td>
              {{value.date_send}}
            </td>

            <td>{{value.platform}}</td>


            <td class="col-md-2"><button type="button" class="btn btn-danger">Verwijder</button></td>

          </tr>
        </tbody>
      </table>
    </div>


