/* You can add global styles to this file, and also import other style files */


@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~glyphicons-only-bootstrap/css/bootstrap.min.css';

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  width: 100%;
}




/* You can add global styles to this file, and also import other style files */

.myCustomModalClass .modal-dialog {
  max-width: 1000px;
}

h1 {
  text-align: center;
  margin-bottom: 1%;
}


.f2 {
  float: right;
  color: pink;
  width: 25%;
  margin-right: 2%
}






.centerContent {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 70%;
  margin-bottom:30%;

}


form {
  display: inline-block;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}


.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}



.wrap-login100 {
  border-radius: 3px;
  border-color: #5688A5;
  text-align: center;
  width: 390px;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-backdrop-transparent {
  background-color: transparent;
}




:-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*laat je article opvallen*/

.articleleft {
  max-width: 1000px;
  background-color: rgba(255,0,0,0.0);
  height: 80%;
  width: 60%;
  min-width: 40%;
  box-shadow: 0px 0px 2px 2px blue;
  border-radius: 10px;
  float: left;
  margin-left: 1%;
}


  .articleright {
    max-width: 1000px;
    background-color: rgba(255,0,0,0.0);
    height: 80%;
    width: 30%;
    box-shadow: 0px 0px 2px 2px blue;
    border-radius: 10px;
    float: right;
  }

footer {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 2px 2px blue;
  background-color: rgba(17, 17, 17, 0.9);
  clear: both;
  overflow: auto;
  margin-top: 10ex;
  color: #fff;
  border-radius: 2ex;
  margin-top: 2%;
}










.articlemiddle {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: rgba(255,0,0,0.0);
  height: 80%;
  box-shadow: 0px 0px 2px 2px blue;
  border-radius: 10px;
}

/*style images*/

.wallpaper1 {
  overflow: hidden;
  width: 100%;
  min-height: 55ex;
  /*vermindert page jump*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 10px;
  padding-right: 10px;
}
/*make a collapsible table*/
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}


.active:after {
  content: "\2212";
}

.content {
  width: 70%;
  font-size: 12px;
  margin: 1px 1px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.navbar {
  overflow: hidden;
}

  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* Add a blue background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #1f1f1f;
  }
/*second navabar in the header*/
.vertical-menu {
  width: 20%; /* Set a width if you like */
  float: left;
  margin-top: 18px;
}


  .vertical-menu a {
    color: pink; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }

    .vertical-menu a:hover {
      background-color: #1f1f1f; /* Dark grey background on mouse-over */
    }

a#active {
  background-color: blue; /* Add a green color to the "active/current" link */
  color: white;
}


button:hover {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: hotpink;
  -webkit-fill-color: hotpink;
  box-shadow: 1px 0px 20px hotpink;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
h3, h2 {
  background-color: rgba(115, 138, 219, 0.9);
  padding: 10px;
  border-radius: 5px;
  color: white;
  min-width: 90%;
  margin-right: 1%;
}

.articleleft, footer, .articleright, .articlemiddle {
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 4%;
  padding-left: 2%;
  margin-bottom: 2%;
  margin-top: 0%;
}


/*maak je site responsive*/
@media (max-width:1300px) {
  .huis {
    display: none;
  }

  .articleright {
    display: none;
  }

  footer{
      display:none;
  }

  main, body, article, .articleleft, .articlemiddle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    margin: 0;
    border-radius: 0px;
  }
}

@media (max-width:800px) {
  .vertical-menu {
    display: none;
  }

  .f2 {
    display: none;
  }
}
